{% extends 'base.html' %}

{% block title %} Delete Quote {% endblock %}

{% block content %}
<form method="POST">
    <h3 align="center">Quote Id</h3>
    <div class="form-group">
        <label for="id">id</label>
        <input 
            type="id" 
            id="id" 
            name="id" 
            class="form-control" 
            placeholder="Enter id">
        
        <br>
        
        <div align="center">
            <button class="btn btn-primary" type="submit">Delete </button>
        </div>
</form>




        
</div>
{% endblock %}